@{
    ViewBag.Title = "Cambio de Conraseña";
    Layout = "~/Views/Home/Principal.cshtml";
}

@section Styles {
    
    <style>

.invalid {
    background:url(/images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(/images/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

    #pswd_info {
    z-index:10000;
    width:100%;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

    #pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

    #pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:80%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

    </style>
}

<div class="pageheader">
    <!--Region Cabecera de la Pagina-->
    <h1>Seguridad del Sistema</h1>
    <div>
        <span class="label" style="color:rgb(144, 157, 163);padding:0px">USTED ESTÁ AQUÍ: </span>
        <ol class="breadcrumb">
            <li>
                <a href="#">Usuarios</a>
            </li>
            <li>
                <a href="../../Global/Cuenta/ChangePassword" class="active">Cambiar Contraseña</a>
            </li>
        </ol>
    </div>
</div>


<section id="main-content" class="animated fadeInUp">
    <!--Region Botones-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body text-left">
                    <button id="buscarBtn" type="button" class="btn btn-success btn-sm" onclick="Cambiar();">
                        <i class="fa fa-lock"></i> Cambiar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="DatosForm">
        <!--Region Panel (Filtros)-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cambiar Contraseña</h3>
                    </div>
                    <div class="panel-body" style="height:400px">
                        <div class="form-horizontal form-border" role="form">
                            @*<div class="form-group">
                                <div class="col-sm-12 col-md-6">
                                    <label class="col-sm-5 control-label">
                                        Usuario
                                    </label>
                                    <div class="col-sm-7 row">
                                        <input type="text" class="form-control" id="txtUsuarioCambio" placeholder="Usuario">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">

                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-sm-12 col-md-6">
                                    <label class="col-sm-5 control-label">
                                        Contraseña Anterior:
                                    </label>
                                    <div class="col-sm-7 row">
                                        <div class="input-group">
                                            <input type="password" class="form-control pwd" style="padding-left:15px" id="txtPasswordAnterior" placeholder="Contraseña Anterior"  required="required">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal" id="btnView1" style="color:black; background-color:#e7e7e7" type="button"><i  id="iconPassw1" class="glyphicon glyphicon-eye-open iconPassw"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 col-md-6">
                                    <label class="col-sm-5 control-label">
                                        Nueva Contraseña:
                                    </label>
                                    <div class="col-sm-7 row">
                                        <div class="input-group">
                                            <input type="password" class="form-control pwd" style="padding-left:15px" id="txtNuevoPassword" placeholder="Nueva Contraseña"  required="required">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal" id="btnView2" style="color:black; background-color:#e7e7e7" type="button"><i id="iconPassw2" class="glyphicon glyphicon-eye-open iconPassw"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                </div>
                            </div>

                            <div class="form-group" id="pswd_info_cont">
                                <div class="col-sm-12 col-md-6">                                    
                                    <div class="col-sm-12 row">
                                        <div id="pswd_info">
                                            <h4>La contraseña debería cumplir con los siguientes requerimientos:</h4>
                                            <ul style="list-style-type:none">
                                                <li id="letter">Al menos debería tener <strong>una letra</strong></li>
                                                <li id="capital">Al menos debería tener <strong>una letra en mayúsculas</strong></li>
                                                <li id="number">Al menos debería tener <strong>un número</strong></li>
                                                @*<li id="special">Debería tener 1 caracter especial como mínimo<br>(#$%\&*(){}[]<>¿?)</li>*@
                                                <li id="length">Debería tener <strong>8 carácteres</strong> como mínimo</li>
                                            </ul>
                                            <input type="hidden" id="txtValidatePws" value="1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 col-md-6">
                                    <label class="col-sm-5 control-label">
                                        Confirmar Contraseña:
                                    </label>
                                    <div class="col-sm-7 row">
                                        <div class="input-group">
                                            <input type="password" class="form-control pwd" style="padding-left:15px" id="txtConfirmarNuevoPassword" placeholder="Confirmar Nueva Contraseña" required="required">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal"  id="btnView3" style="color:black; background-color:#e7e7e7" type="button"><i  id="iconPassw3" class="glyphicon glyphicon-eye-open iconPassw"></i></button>
                                            </span>
                                        </div>
                                        <span id="no_coincide"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                </div>
                            </div>

                        </div>
                     </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Modal para mensajes-->
<div class="modal fade" id="ModalSave" style="overflow: scroll;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel" style="color:#0D588E">Mensaje de cambio de contraseña</h3>
            </div>
            <div class="modal-body" id="SaveMensaje">
            </div>
            <div class="text-center">
                <hr /><button id="btnMensaje" type="button" class="btn btn-primary" onclick="$('#ModalSave').modal('hide');">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!--Load these page level functions-->
@section Scripts {
    
    <script type="text/javascript">

        //$("#ModalSave").modal('show');


        $(document).ready(function () {

            $('#txtNuevoPassword').keyup(function () {
                // set password variable
                var pswd = $(this).val();
                $("#txtValidatePws").val("0")
                //validate the length
                if (pswd.length < 8) {
                    $('#length').removeClass('valid').addClass('invalid');
                    $("#txtValidatePws").val("1")
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                }

                //validate letter
                if (pswd.match(/[A-z]/)) {
                    $('#letter').removeClass('invalid').addClass('valid');                    
                } else {
                    $('#letter').removeClass('valid').addClass('invalid');
                    $("#txtValidatePws").val("1")
                }

                //validate capital letter
                if (pswd.match(/[A-Z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                } else {
                    $('#capital').removeClass('valid').addClass('invalid');
                    $("#txtValidatePws").val("1")
                }

                //validate number
                if (pswd.match(/\d/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                } else {
                    $('#number').removeClass('valid').addClass('invalid');
                    $("#txtValidatePws").val("1")
                }

                ////validate character special
                //if (pswd.match(/#$%&*<>¿?/) {
                //    $('#special').removeClass('invalid').addClass('valid');
                //} else {
                //    $('#special').removeClass('valid').addClass('invalid');
                //    $("#txtValidatePws").val("1")
                //}

                

                var pswdNueva = $(this).val();
                var pswdConfirma = $("#txtConfirmarNuevoPassword").val();
                if (pswdNueva != pswdConfirma) {
                    $("#no_coincide").html("No coinciden las contraseñas")
                     $("#no_coincide").css("color","red")
                } else {
                    $("#no_coincide").html("Correcto")
                    $("#no_coincide").css("color","green")
                }

            //}).focus(function () {
            //    $('#pswd_info_cont').show();
            //}).blur(function () {
            //    $('#pswd_info_cont').hide();
            });

            $('#txtConfirmarNuevoPassword').keyup(function () {
                
                var pswdNueva = $("#txtNuevoPassword").val();
                var pswdConfirma = $(this).val();
                if (pswdNueva != pswdConfirma) {
                    $("#no_coincide").html("No coinciden las contraseñas")
                     $("#no_coincide").css("color","red")
                } else {
                    $("#no_coincide").html("Correcto")
                    $("#no_coincide").css("color","green")
                }
            });
        });
       

        $("#btnView1").on('click', function () {
            var $pwd = $("#txtPasswordAnterior");
            var $iconPassw = $("#iconPassw1");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
                $iconPassw.removeClass("glyphicon-eye-open");
                $iconPassw.addClass("glyphicon-eye-close");
            } else {
                $pwd.attr('type', 'password');
                $iconPassw.removeClass("glyphicon-eye-close");
                $iconPassw.addClass("glyphicon-eye-open");
            }
        });

        $("#btnView2").on('click', function () {
            var $pwd = $("#txtNuevoPassword");
            var $iconPassw = $("#iconPassw2");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
                $iconPassw.removeClass("glyphicon-eye-open");
                $iconPassw.addClass("glyphicon-eye-close");
            } else {
                $pwd.attr('type', 'password');
                $iconPassw.removeClass("glyphicon-eye-close");
                $iconPassw.addClass("glyphicon-eye-open");
            }
        });

        $("#btnView3").on('click', function () {
            var $pwd = $("#txtConfirmarNuevoPassword");
            var $iconPassw = $("#iconPassw3");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
                $iconPassw.removeClass("glyphicon-eye-open");
                $iconPassw.addClass("glyphicon-eye-close");
            } else {
                $pwd.attr('type', 'password');
                $iconPassw.removeClass("glyphicon-eye-close");
                $iconPassw.addClass("glyphicon-eye-open");
            }
        });


        function Cambiar() {

            if ($('#txtPasswordAnterior').val() == "") {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>Ingrese la contraseña anterior.</strong>');
                $("#ModalSave").modal('show');
                return;
            } else if ($('#txtNuevoPassword').val() == "") {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>Ingrese la nueva contraseña.</strong>');
                $("#ModalSave").modal('show');
                return;
            } else if ($('#txtConfirmarNuevoPassword').val() == "") {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>Ingrese la confirmación de la contraseña.</strong>');
                $("#ModalSave").modal('show');
                return;
            } else if ($('#txtValidatePws').val() == "1") {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>No cumple con los requisitos de la contraseña.</strong>');
                $("#ModalSave").modal('show');
                return;
            } else if ($('#txtNuevoPassword').val()!=$('#txtConfirmarNuevoPassword').val()) {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>No coinciden las contraseñas</strong>');
                $("#ModalSave").modal('show');
                return;
            } else if ($('#txtPasswordAnterior').val()==$('#txtConfirmarNuevoPassword').val()) {
                $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Validación de datos: <br> <strong>La nueva contraseña debe ser diferente a la contraseña anterior</strong>');
                $("#ModalSave").modal('show');
                return;
            }

            
            var pCuenta = {                
                vc_password_old: $('#txtPasswordAnterior').val(),
                vc_password_new: $('#txtNuevoPassword').val(),
                vc_password_con: $('#txtConfirmarNuevoPassword').val()
            }

            
            $.ajax({
                type: "POST",
                url: "/Cuenta/Cambiar",
                data: pCuenta,
                success: function (result) {
                    if (result.message == "OK") {                        
                        $("#SaveMensaje").html('<i class="fa  fa-check" style="color:green"></i> Se realizo el cambio de contraseña correctamente..');
                        $("#ModalSave").modal('show');  
                        setTimeout("window.location.href = '/Home/Index'", 1000);
                    }
                    else{
                        $("#SaveMensaje").html('<i class="fa  fa-remove" style="color:darkred"></i> Error: <br> <strong>' + result.message + '</strong>');
                        $("#ModalSave").modal('show');
                    }
                },
                error: function (status) {
                    debugger;
                }
            });
    }
    </script>

}

