@model Siscom.Areas.Global.Models.PersonaModels

 <table id="DetalleCandidatosTable" class="table table-striped table-bordered table-hover table-condensed " cellspacing="0">
    <thead>
        <tr>
            <th class="text-center"><p>D.N.I.</p></th>
            <th class="text-center"><p>Nombres</p></th>
            <th class="text-center"><p>Apellidos</p></th>
            <th class="text-center"><p>Correo Electronico</p></th>
            <th class="text-center"><p>Teléfono</p></th>
        </tr>
    </thead>

    
    <tbody id="itemsDetalle">
        <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        </tr>
        <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        </tr>
        <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        </tr>
        <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        </tr>
    </tbody>
</table>
<center><button type="button" class="btn btn-success" onclick="AgregarFila()">Agregar fila</button></center>