td.esperado {
    background-color: rgb(244,209,170) !important;
    -webkit-print-color-adjust: exact;
}

td.obtenido {
    background-color: rgb(235,110,25) !important;
    -webkit-print-color-adjust: exact;
}

td.bordes {
    border: 1px solid rgb(244,209,170) !important;
    -webkit-print-color-adjust: exact;
}

th.bordes {
    border: 1px solid rgb(244,209,170) !important;
    -webkit-print-color-adjust: exact;
}

rect:hover {
    border: 1px solid rgb(244,209,170) !important;
    -webkit-print-color-adjust: exact;
}


td.esperadoBarsit {
    background-color: rgb(170, 219, 64) !important;
    -webkit-print-color-adjust: exact;
}

td.obtenidoBarsit {
    background-color: rgb(34, 107, 6) !important;
    -webkit-print-color-adjust: exact;
}

td.obtenidoBarsit h4 {
    color: rgb(255, 255, 255);
    -webkit-print-color-adjust: exact;
}

td.esperadoMonedas1 {
    background-color: rgb(47, 126, 216) !important;
    -webkit-print-color-adjust: exact;
}

td.obtenidoMonedas1 {
    background-color: rgb(22, 37, 116) !important;
    -webkit-print-color-adjust: exact;
}

td.obtenidoMonedas1 h4 {
    color: rgb(255, 255, 255);
    -webkit-print-color-adjust: exact;
}
